
main {
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "h h h"
        "n a as"
        "f f f";
}

article, aside, header, nav, footer {
    border: 1px solid gray;
    padding: 10px;
}

header {
    grid-area: h;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

nav {
    grid-area: n;
}

article {
    grid-area: a;
}

aside {
    grid-area: as;
}

footer {
    grid-area: f;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}


@media screen and (max-width: 700px) {
    main {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "h"
            "n"
            "a"
            "as"
            "f";
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        text-align: center;
    }
}